---
import Layout from "@/layouts/Layout.astro"
import Video from "@/components/Video.astro"
import Gallery from "@/components/Gallery.astro"
import { getCollection, getEntry } from "astro:content"

const { params } = Astro
const entry = await getEntry(params.category, params.slug)
const { data, body } = entry
---

<Layout title={data.title}>
  {
    data.cover?.src && (
      <img
        src={data.cover.src}
        alt={data.cover.alt}
        class="w-full rounded-[--radius-xl] mb-6"
      />
    )
  }
  <section class="prose-hk" set:html={await body()} />

  {
    data.videos?.length > 0 && (
      <div class="mt-8 space-y-4">
        {data.videos.map((u) => (
          <Video url={u} />
        ))}
      </div>
    )
  }

  {
    data.gallery?.length > 0 && (
      <div class="mt-8">
        <Gallery images={data.gallery} />
      </div>
    )
  }
</Layout>
